.welcome-sign {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: white;
  background-color: rgb(39, 38, 38);
  max-width: 20%;
  height: 100%;
  top: 0;
  left: 0;
}

:host {
  display: block;
  width: 30%;
}

@media (min-width: 720px) {
  .welcome-sign {
    margin-left: 8%;
    margin-right: 0;
  }
}

@media (max-width: 719px) {
  .welcome-sign {
    margin-left: 0px;
  }
}

.description {
  padding: 20px;
}

.detail {
  font-size: 14px;
  text-align: center;
  line-height: 160%;
  text-justify: inter-character;
}
.desc-header {
  display: inline-flex;
  font-size: 20px;
}
