<form class="example-form">
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Enter your password"
      [type]="hide ? 'password' : 'text'"
      [formControl]="passwordFormControl"
      [errorStateMatcher]="matcher"
    />
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
</form>
